<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'styles.html' %}
</head>
<body>
    <div class="form-container">
        <div class="header">
            {% if icon %}
                <div class="logo-container">
                    <img src="{{ icon.icon.url }}" alt="{{ icon.description }}">
                    <h1>{{ icon.description }}</h1>
                </div>
            {% else %}
                <h1>Калькулятор</h1>
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.results.id_for_label }}">Cумма заказа (сом)</label>
                {{ form.results }}
            </div>

            <div class="form-group">
                <label for="{{ form.prepayment.id_for_label }}">Предоплата</label>
                {{ form.prepayment }}
            </div>

            <div class="form-group">
                <label for="{{ form.payment.id_for_label }}">Оплата</label>
                {{ form.payment }}
            </div>

            <div class="form-group">
                <label for="{{ form.term.id_for_label }}">Срок</label>
                {{ form.term }}
            </div>

            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
    </div>
</body>
</html>
