<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'styles.html' %}
    {% include 'scripts.html' %}
</head>
<body>
    <div class="form-container">
        <div class="header">
            {% if icon %}
                <div class="logo-container">
                    <img src="{{ icon.icon.url }}" alt="{{ icon.description }}">
                    <h1>{{ icon.description }}</h1>
                </div>
            {% else %}
                <h1>Калькулятор</h1>
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.fabric.id_for_label }}">Ткань</label>
                <select name="{{ form.fabric.name }}" id="{{ form.fabric.id_for_label }}">
                    <option value="" data-price="0">-- Выберите ткань --</option>
                    {% for fabric in form.fabric.field.queryset %}
                        <option value="{{ fabric.id }}" data-price="{{ fabric.price }}">
                            {{ fabric.fabric }}
                        </option>
                    {% endfor %}
                </select>
                <div id="fabric-price" class="price-display"></div>
            </div>

            <div class="form-group">
                <label for="{{ form.quadrature.id_for_label }}">Квадратура (м²)</label>
                {{ form.quadrature }}
            </div>

            <div class="form-group">
                <label for="{{ form.installation.id_for_label }}">Установка (сом)</label>
                {{ form.installation }}
            </div>

            <div class="form-group">
                <label for="{{ form.payment.id_for_label }}">Оплата</label>
                <select name="{{ form.payment.name }}" id="{{ form.payment.id_for_label }}">
                    <option value="" data-percentage="0">-- Выберите способ оплаты --</option>
                    {% for payment in form.payment.field.queryset %}
                        <option value="{{ payment.id }}" data-percentage="{{ payment.percentage }}">
                            {{ payment }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="{{ form.discount.id_for_label }}">Скидка</label>
                <input type="text" id="{{ form.discount.id_for_label }}" value="Акция {{ discount.discount }}%" class="form-control discount-field" data-discount="{{ discount.discount }}" readonly>
            </div>

        </form>
    </div>

    <div class="result-container">
        <h1>Результаты</h1>
        <div class="result-content">
            <p class="total-amount"></p>
            <p class="total-with-discount"></p>
        </div>
    </div>
</body>
</html>
