<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const resultsInput = document.getElementById('id_results');
        const paymentSelect = document.getElementById('id_payment');
        const totalWithPaymentDisplay = document.querySelector('.total-with-payment');
        function updatePrice() {
            const results = parseFloat(resultsInput.value) || 0;
            const selectedPaymentOption = paymentSelect.options[paymentSelect.selectedIndex];
            const paymentPercentage = parseFloat(selectedPaymentOption.getAttribute('data-percentage')) || 0;

            if (results > 0) {
                const totalWithPayment = results * ((100 + paymentPercentage) / 100);

                totalWithPaymentDisplay.textContent = `Общая сумма: ${totalWithPayment.toFixed(2)} сом`;
            } else {
                totalWithPaymentDisplay.textContent = '';
                totalWithDiscountDisplay.textContent = '';
            }
        }

        resultsInput.addEventListener('input', updatePrice);
        paymentSelect.addEventListener('change', updatePrice);

        updatePrice();
    });
</script> -->